Samples/ProRock.Xmlite.Namespaces/order.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:demo:order"
  xmlns="urn:demo:order"
  elementFormDefault="qualified">

  <!-- ================= -->
  <!-- Simple types -->
  <!-- ================= -->

  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="new"/>
      <xs:enumeration value="processing"/>
      <xs:enumeration value="shipped"/>
      <xs:enumeration value="completed"/>
      <xs:enumeration value="cancelled"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CurrencyCode">
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ================= -->
  <!-- Complex types -->
  <!-- ================= -->

  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="sku" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>

      <!-- inline simpleType element -->
      <xs:element name="quantity">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <!-- inline simpleType element -->
      <xs:element name="price">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="currency" type="CurrencyCode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemsType">
    <xs:sequence>
      <xs:element name="item" type="ItemType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MoneyType">
    <xs:sequence>
      <xs:element name="amount" type="xs:decimal"/>
      <xs:element name="currency" type="CurrencyCode"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ================= -->
  <!-- Root element -->
  <!-- ================= -->

  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="date" type="xs:dateTime"/>
        <xs:element name="status" type="OrderStatus"/>

        <xs:element name="customer" type="CustomerType"/>
        <xs:element name="items" type="ItemsType"/>
        <xs:element name="total" type="MoneyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
