Samples/ProRock.Xmlite.Namespaces/order.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:demo:order"
  xmlns="urn:demo:order"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

  <xs:import
    namespace="http://www.w3.org/2001/XMLSchema"
    schemaLocation="https://www.w3.org/2001/XMLSchema.xsd"/>

  <xs:simpleType name="CurrencyCode">
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="new"/>
      <xs:enumeration value="processing"/>
      <xs:enumeration value="shipped"/>
      <xs:enumeration value="completed"/>
      <xs:enumeration value="cancelled"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="MoneyType">
    <xs:attribute name="amount" type="xs:decimal" use="required"/>
    <xs:attribute name="currency" type="CurrencyCode" use="required"/>
  </xs:complexType>

  <xs:complexType name="CustomerType">
    <xs:attribute name="id" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="email" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ItemType">
    <xs:attribute name="sku" type="xs:string" use="required"/>
    <xs:attribute name="quantity" type="xs:int" use="required"/>
    <xs:attribute name="title" type="xs:string" use="required"/>
    <xs:attribute name="price" type="xs:decimal" use="required"/>
    <xs:attribute name="currency" type="CurrencyCode" use="required"/>
  </xs:complexType>

  <xs:complexType name="ItemsType">
    <xs:sequence>
      <xs:element name="item" type="ItemType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customer" type="CustomerType"/>
        <xs:element name="items" type="ItemsType"/>
        <xs:element name="total" type="MoneyType"/>
      </xs:sequence>

      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="date" type="xs:dateTime" use="required"/>
      <xs:attribute name="status" type="OrderStatus" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
